# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.search.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Amir\Desktop\text-search\src\search\.idea\.idea.search.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
